<div class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Find <span class="text-white">great films</span> on your favourite service</h2>
            <p class="reviews">Based on <span class="text-white">2,396,229</span> film reviews</p>
        </div>
        <div class="col-md-4 rating-section lh-sm text-center">
            <p>Help us get better by rating 10 films</p> 
            <p> only takes 3 minutes</p>
        </div>
    </div>
        
  
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card bg-dark">
                <img src="../../assets/images/item-2.png" class="card-img" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-dark">
                <img src="../../assets/images/item-2.png" class="card-img" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-dark">
                <img src="../../assets/images/item-2.png" class="card-img" alt="...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-dark">
                <img src="../../assets/images/item-2.png" class="card-img" alt="...">
            </div>
        </div>
    </div>
    
</div>